body {


background-repeat: no-repeat;
backface-visibility: visible;
margin: 0;
padding: 0;
background-color:#ff4;
}


ul{
    list-style-type: none;
   margin: 0;
    padding-left: 0;
    padding-right: 0;
    position: fixed;
    background-color:black;
   border: 0;
    height: 60px;
    width: 100%;
    
    
}
li {
    text-decoration: none;
    color: white;
    display: block;
    padding: 20px;
   text-align: center;
   overflow: hidden;
   float: right;
   font-family: 'Courier New', Courier, monospace;
  
}

li:hover{
background-color: #ff4;
color: white;
}

li:visited{
    color: white;
    background-color: gold;
}



 
.firstdiv{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    position: absolute;
    font-size: 30px;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    
}
